@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(226, 43%, 10%);
}
.container {
  max-width: 900px;
  font-family: "Rubik", sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  color: #fff;
}

.card-first {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
  row-gap: 20px;
  height: 100%;
  background-color: hwb(236 11% 71%);
  border-radius: 20px;
}
.top-person {
  background-color: hsl(246, 80%, 60%);
  border-radius: 20px;
  height: 300px;
  padding: 20px;
}
.top-person img {
  height: 70px;
  width: 70px;
  border: 3px solid #fff;
  border-radius: 35px;
  margin-bottom: 20px;
}
.card-main {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
}
.name {
  font-size: 40px;
  font-weight: 300;
}
.previous {
  font-size: 18px;
  font-weight: 400;
  color: hsl(235, 45%, 61%);
}
.date:hover {
  color: hsl(236, 100%, 87%);
}
.date {
  cursor: pointer;
}
.container-card {
  display: none;
}
.card {
  padding-top: 40px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: 65px;
  background-position-y: -5px;
  background-position-x: 120px;
}

.card-detail {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  height: 100%;
  padding: 20px;
}
.title-card {
  font-size: 18px;
  font-weight: 400;
}
.time {
  font-size: 55px;
  margin-top: 25px;
  font-weight: 300;
}

@media (max-width: 768px) {
  body {
    height: 100%;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 5px;
    height: 100%;
  }
  .name {
    font-size: 1.8rem;
  }
}

@media (max-width: 425px) {
  .container {
    display: block;
  }
  .top-person {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
  }

  .card-first{
    gap: 0;
    height: 254px;
  }

  .card-main {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .top-person img {
    width: 60px;
    height: 60px;
    margin: 0;
  }

  .card{
    margin-top: 1rem;
  }

  .card,
  .top-person {
    width: 245px;
  }
}
